.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2b303;
    margin-bottom: 20px;
    width: 100%;
}

.container .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .heading img {
    height: 250px;
}

.container .heading h1 {
    color: red;
    font-weight: bolder;
    font-size: 60px;
}

.container .about-us {
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .line {
    border-left: 4px solid red;
    color: red;
    font-size: 60px;
    line-height: 55px;
    margin-left: 20px;
}

.info .highlight {
    font-weight: bold;
    color: red;
    font-size: 70px;
}

.info .about {
    width: 80%;
    font-size: 20px;
    margin: 20px;
}

.info .special {
    width: 75%;
    font-size: 20px;
    margin: 20px;
    color: #000;
}

.info .commitment {
    width: 63%;
    font-size: 20px;
    margin: 20px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .main-bar .icons {
        left: 70%;
    }
}

@media (max-width: 768px) {
    .main-bar .icons {
        left: 35%;
    }

    .nav ul li {
        padding-right: 20px;
    }

    .nav ul li a {
        font-size: 20px;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .container .heading img {
        height: 200px;
    }

    .container .heading h1 {
        font-size: 40px;
    }

    .container .about-us {
        font-size: 15px;
    }

    .info .line {
        font-size: 40px;
        line-height: 55px;
    }

    .info .highlight {
        font-size: 50px;
    }

    .info .about {
        font-size: 15px;
    }

    .info .special {
        font-size: 15px;
    }

    .info .commitment {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .main-bar .icons {
        left: 30%;
    }

    .nav {
        height: auto;
        flex-wrap: wrap;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        padding-right: 0;
        margin-bottom: 10px;
    }

    .nav ul li a {
        font-size: 18px;
    }

    .footer .container .section h2 {
        font-size: 18px;
    }

    .footer .container .section a {
        font-size: 14px;
    }

    .container .heading img {
        height: 150px;
    }

    .container .heading h1 {
        font-size: 20px;
    }

    .container .about-us {
        font-size: 12px;
    }

    .info .line {
        font-size: 20px;
        line-height: 30px;
    }

    .info .highlight {
        font-size: 30px;
    }

    .info .about {
        font-size: 12px;
    }

    .info .special {
        font-size: 12px;
    }

    .info .commitment {
        font-size: 12px;
    }
}
