.hello img{
    width: 1600px;
    height: 400px;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info .line {
    border-left: 4px solid red;
    padding-left: 10px;
    color: red;
    font-size: 50px;
    line-height: 55px;  
}

.contact-info .highlight {
    font-weight: bold;
    color: red;
    font-size: 50px;
}

.contact-info p{
    width: 80%;
    font-size: 20px;
    margin: 20px;
}

.user-input{
    background-color: #e2e2e2b6;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 30px;
    padding-bottom: 110px;
    width: 100%;
}

.user-input .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-input .left input{
    height: 40px;
    width: 500px;
    padding: 10px;
    font-size: 15px;
}

.user-input .left select{
    height: 40px;
    width: 500px;
    padding: 10px;
    font-size: 15px;
}

.user-input .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-input .right textarea{
    height: 200px;
    width: 500px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    position: relative;
    top: 15px;
    font-size: 15px;
}

.user-input .right button{
    height: 50px;
    width: 150px;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    background-color: red;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    position: relative;
    left: 70%;
    top: 25px;
    font-size: 15px;
    cursor: pointer;
}

.user-input .right button:hover{
    background-color: rgb(146, 1, 1);
}

/* Responsive Design */
@media (max-width: 1200px) {
    .main-bar .icons{
        left: 70%; 
    }
}

@media (max-width: 768px) {
    .main-bar .icons{
        left: 35%; 
    }

    .nav ul li {
        padding-right: 20px; 
    }

    .nav ul li a {
        font-size: 20px; 
    }

    .footer .container {
        flex-direction: column; 
        align-items: center;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px; 
    }

    .main-bar .icons{
        left: 30%; 
    }

    .nav {
        height: auto; 
        flex-wrap: wrap;
    }

    .nav ul {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .nav ul li {
        padding-right: 0; 
        margin-bottom: 10px; 
    }

    .nav ul li a {
        font-size: 18px; 
    }

    .footer .container .section h2 {
        font-size: 18px;
    }

    .footer .container .section a {
        font-size: 14px;
    }
}