.faq-info {
    display: flex;  
    align-items: center;
    margin: 20px;
    width: 100%;
    padding: 10px;
}

.line {
    border-left: 4px solid red;
    padding-left: 10px;
    color: red;
    font-size: 60px;
    line-height: 55px;   
}

.highlight {
    font-weight: bold;
    color: red;
    font-size: 70px;
}

.faq-section {
    width: 100%;
    margin-left: 50px;
    border: 4px solid red;
}
.faq {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.faq h3 {
    cursor: pointer;
    margin: 0;
    color: #000;
    font-size: 25px;
}

.faq p {
    display: none; /* Initially hidden */
    margin-top: 20px;
    font-size: 20px;
    color: #333; 
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.faq.active p {
    display: block; 
}

/* Responsive Design */
/* xs */
@media (max-width: 475px){
    .faq-info {
        flex-direction: column;
        align-items: center;
    }

    .faq-info .line {
        font-size: 25px;
        line-height: 20px; 
        padding-left: 0px;     
    }
    
    .faq-info .highlight {
        font-size: 30px;
    }

    .faq h3 {
        font-size: 15px;
    }
    
    .faq p {
        font-size: 10px;
    }

    .faq-section {
        margin-left: auto;
        margin-right: auto;
    }
}

/* sm */
@media (max-width: 640px){
    .faq-info {
        flex-direction: column;
        align-items: center;
    }

    .faq-info .line {
        font-size: 25px;
        line-height: 20px; 
        padding-left: 0px;     
    }
    
    .faq-info .highlight {
        font-size: 30px;
    }

    .faq h3 {
        font-size: 15px;
    }
    
    .faq p {
        font-size: 10px;
    }

    .faq-section {
        margin-left: auto;
        margin-right: auto;
    }
}

/* md */
@media (max-width: 768px){
    .faq-info {
        flex-direction: column;
        align-items: center;
    }

    .faq-info .line {
        font-size: 25px;
        line-height: 20px; 
        padding-left: 0px;     
    }
    
    .faq-info .highlight {
        font-size: 30px;
    }

    .faq h3 {
        font-size: 15px;
    }
    
    .faq p {
        font-size: 10px;
    }

    .faq-section {
        margin-left: auto;
        margin-right: auto;
    }
}

/* lg */
@media (max-width: 1024px){
    .faq-info {
        flex-direction: column;
        align-items: center;
    }

    .faq-info .line {
        font-size: 25px;
        line-height: 20px; 
        padding-left: 0px;     
    }
    
    .faq-info .highlight {
        font-size: 30px;
    }

    .faq h3 {
        font-size: 15px;
    }
    
    .faq p {
        font-size: 10px;
    }

    .faq-section {
        margin-left: auto;
        margin-right: auto;
    }
}

/* xl */
@media (max-width: 1280px){

}

/* 2xl */
@media (max-width: 1536px){

}
