.faq-info {
    display: flex;  
    align-items: center;
    margin: 20px;
    width: 100%;
}

.line {
    border-left: 4px solid red;
    padding-left: 10px;
    color: red;
    font-size: 60px;
    line-height: 55px;
    
}

.highlight {
    font-weight: bold;
    color: red;
    font-size: 70px;
}

.faq-section {
    width: 100%;
    margin-left: 50px;  
}
.faq {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.faq h3 {
    cursor: pointer;
    margin: 0;
    color: #000;
    font-size: 25px;
}
.faq p {
    display: none;
    margin-top: 20px;
    font-size: 20px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .main-bar .icons{
        left: 70%; 
    }
}

@media (max-width: 768px) {
    .main-bar .icons{
        left: 35%; 
    }

    .nav ul li {
        padding-right: 20px; 
    }

    .nav ul li a {
        font-size: 20px; 
    }

    .footer .container {
        flex-direction: column; 
        align-items: center;
    }

    .line {
        font-size: 40px;
        line-height: 55px;  
    }
    
    .highlight {
        font-size: 50px;
    }

    .faq h3{
        font-size: 21px;
    }

    .faq p{
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px; 
    }

    .main-bar .icons{
        left: 30%; 
    }

    .nav {
        height: auto; 
        flex-wrap: wrap;
    }

    .nav ul {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .nav ul li {
        padding-right: 0; 
        margin-bottom: 10px; 
    }

    .nav ul li a {
        font-size: 18px; 
    }

    .footer .container .section h2 {
        font-size: 18px;
    }

    .footer .container .section a {
        font-size: 14px;
    }

    .info .line {
        font-size: 20px;
        line-height: 30px;  
    }
    
    .info .highlight {
        font-size: 30px;
    }

    .faq h3{
        font-size: 18px;
    }

    .faq p{
        font-size: 12px;
    }
}
