.faq-info {
    display: flex;  
    align-items: center;
    margin: 20px;
    width: 100%;
}

.line {
    border-left: 4px solid red;
    padding-left: 10px;
    color: red;
    font-size: 60px;
    line-height: 55px;
    
}

.highlight {
    font-weight: bold;
    color: red;
    font-size: 70px;
}

.faq-section {
    width: 100%;
    margin-left: 50px;  
}
.faq {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.faq h3 {
    cursor: pointer;
    margin: 0;
    color: #000;
    font-size: 25px;
}

.faq p {
    display: none; /* Initially hidden */
    margin-top: 20px;
    font-size: 20px;
    color: #333; 
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.faq.active p {
    display: block; 
}

/* Responsive Design */
/* xs */
@media (max-width: 475px){

}

/* sm */
@media (max-width: 640px){

}

/* md */
@media (max-width: 768px){

}

/* lg */
@media (max-width: 1024px){

}

/* xl */
@media (max-width: 1280px){

}

/* 2xl */
@media (max-width: 1536px){

}
