.card{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 80px;
}

.card:hover{
    width: 600px;
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .circle::before{
    content: "";
    position: absolute;
    top: 30;
    left: 2;
    right: 2;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #611903;
    border: solid 8px #d2b303;
    filter: drop-shadow(0 0 10px #d2b303) drop-shadow(0 0 60px #d2b303);
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
}

.card:hover .circle::before{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #b44320;
    transition-delay: 0.1s;
}

.card .circle .logo{
    position: relative;
    width: 250px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card:hover .circle .logo{
    transform: scale(0);
    transition-delay: 0s;
}

.card .ramen{
    position: absolute;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(240deg);
    transition: 0.5s ease-in-out;
}

.card:hover .ramen{
    transition-delay: 0.5s;
    height: 250px;
    top: 25%;
    left: 80%;
    transform: translate(-30%, -65%) scale(1) rotate(20deg);
}

.card .content{
    position: absolute;
    width: 70%;
    left: 20%;
    padding: 20px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card:hover .content{
    transition-delay: 0.5s;
    opacity: 1;
    visibility: visible;
    left: 20px;
}

.card .content h2{
    color: #fff;
    font-size: 2.5em;
    line-height: 46px;
    font-style: italic;
    font-weight: bold;
    background-image: linear-gradient(180deg, #d2b303 50%, #fc4a4a 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card .content p{
    color: #fff;
}

/* Responsive Design */
/* xs */
@media (max-width: 475px){
    .card{
        width: 250px;
        height: 250px;
    }
    
    .card:hover{
        width: 350px;
    }
    
    .card .circle{
        width: 100%;
        height: 100%;
    }
    
    .card .circle::before{
        width: 250px;
        height: 250px;
    }
        
    .card .circle .logo{
        width: 200px;
    }
    
    .card .ramen{
        height: 250px;
    }
    
    .card:hover .ramen{
        height: 150px;
    }
    
    .card .content{
        width: 80%;
    }
    
    .card .content h2{
        font-size: 30px;
        line-height: 30px;
    }
    
    .card .content p{
        font-size: 13px;
    }
}

/* sm */
@media (max-width: 640px){
    .card{
        width: 250px;
        height: 250px;
    }
    
    .card:hover{
        width: 350px;
    }
    
    .card .circle{
        width: 100%;
        height: 100%;
    }
    
    .card .circle::before{
        width: 200px;
        height: 200px;
    }
        
    .card .circle .logo{
        width: 200px;
    }
    
    .card .ramen{
        height: 250px;
    }
    
    .card:hover .ramen{
        height: 160px;
    }
    
    .card .content{
        width: 80%;
    }
    
    .card .content h2{
        font-size: 30px;
        line-height: 30px;
    }
    
    .card .content p{
        font-size: 13px;
    }
}

/* md */
@media (max-width: 768px){
    .card{
        width: 250px;
        height: 250px;
    }
    
    .card:hover{
        width: 350px;
    }
    
    .card .circle{
        width: 100%;
        height: 100%;
    }
    
    .card .circle::before{
        width: 200px;
        height: 200px;
    }
        
    .card .circle .logo{
        width: 200px;
    }
    
    .card .ramen{
        height: 250px;
    }
    
    .card:hover .ramen{
        height: 180px;
    }
    
    .card .content{
        width: 80%;
    }
    
    .card .content h2{
        font-size: 30px;
        line-height: 30px;
    }
    
    .card .content p{
        font-size: 14px;
    }
}

/* lg */
@media (max-width: 1024px){
    .card{
        width: 300px;
        height: 300px;
    }

    .card:hover .ramen{
        height: 200px;
    }
}

/* xl */
@media (max-width: 1280px){

}

/* 2xl */
@media (max-width: 1536px){

}
