main .menu-heading h1{
    width: 950px;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    background-image: linear-gradient(180deg, #ffd900 50%, red 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .menu{
    height: auto;
    width: 850px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.row{
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: start;
    gap: 10px;
}

.row .image{
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
    padding: 20px;
}

.row .image:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}

.row a{
    text-decoration: none;
    color: #000;
    text-align: center;
}


.row a img{
    height: 150px;
    width: 150px;
}

/* Responsive Design */
/* xs */
@media (max-width: 475px){

}

/* sm */
@media (max-width: 640px){

}

/* md */
@media (max-width: 768px){

}

/* lg */
@media (max-width: 1024px){

}

/* xl */
@media (max-width: 1280px){

}

/* 2xl */
@media (max-width: 1536px){

}
