.partnership-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2b303;
    margin-bottom: 20px;
    padding: 20px;
}

.partnership-container .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partnership-container .heading img{
    height: 350px;
    width: 1000px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.5);
}

.partnership-container .heading h1{
    color: red;
    font-weight: bolder;
    font-size: 60px;
    line-height: 50px;
    text-align: center;
}

.partnership-container .partnership{
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    margin-top: 20px;
}

.partnership-info{
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnership-info .line {
    border-left: 4px solid red;
    padding-left: 10px;
    color: red;
    font-size: 60px;
    line-height: 55px;  
}

.partnership-info .highlight {
    font-weight: bold;
    color: red;
    font-size: 70px;
}

.partnership-info .commitment{
    width: 80%;
    font-size: 20px;
    margin: 20px;
}

.partnership-info .achievements{
    width: 100%;
    font-size: 20px;
    margin: 20px;
}

.partnership-info .role{
    width: 100%;
    font-size: 20px;
    margin: 20px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .main-bar .icons{
        left: 70%; 
    }

    .partnership-container .heading img{
        height: 250px;
        width: 800px;
    }
}

@media (max-width: 768px) {
    .main-bar .icons{
        left: 35%; 
    }

    .nav ul li {
        padding-right: 20px; 
    }

    .nav ul li a {
        font-size: 20px; 
    }

    .footer .partnership-container {
        flex-direction: column; 
        align-items: center;
    }

    .partnership-container .heading img{
        height: 200px;
        width: 500px;
    }
    
    .partnership-container .heading h1{
        font-size: 40px;
    }
    
    .partnership-container .partnership{
        font-size: 15px;
    }

    .partnership-info .line {
        font-size: 40px;
        line-height: 55px;  
    }
    
    .partnership-info .highlight {
        font-size: 50px;
    }
    
    .partnership-info .commitment{
        font-size: 15px;
    }
    
    .partnership-info .achievements{
        font-size: 15px;
    }
    
    .partnership-info .role{
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px; 
    }

    .main-bar .icons{
        left: 30%; 
    }

    .nav {
        height: auto; 
        flex-wrap: wrap;
    }

    .nav ul {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .nav ul li {
        padding-right: 0; 
        margin-bottom: 10px; 
    }

    .nav ul li a {
        font-size: 18px; 
    }

    .footer .partnership-container .section h2 {
        font-size: 18px;
    }

    .footer .partnership-container .section a {
        font-size: 14px;
    }

    .partnership-container .heading img{
        height: 150px;
        width: 400px;
    }
    
    .partnership-container .heading h1{
        font-size: 20px;
        line-height: 18px;
    }
    
    .partnership-container .partnership{
        font-size: 12px;
    }

    .partnership-info .line {
        font-size: 20px;
        line-height: 30px;  
    }
    
    .partnership-info .highlight {
        font-size: 30px;
    }
    
    .partnership-info .commitment{
        font-size: 12px;
    }
    
    .partnership-info .achievements{
        font-size: 12px;
    }
    
    .partnership-info .role{
        font-size: 12px;
    }
}
