.partnership-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2b303;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.partnership-container .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partnership-container .heading img{
    height: 350px;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.5);
}

.partnership-container .heading h1{
    color: red;
    font-weight: bolder;
    font-size: 60px;
    line-height: 50px;
    text-align: center;
}

.partnership-container .partnership{
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    margin-top: 20px;
}

.partnership-info{
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnership-info .line {
    border-left: 4px solid red;
    padding-left: 10px;
    color: red;
    font-size: 60px;
    line-height: 55px;  
}

.partnership-info .highlight {
    font-weight: bold;
    color: red;
    font-size: 70px;
}

.partnership-info .commitment{
    width: 80%;
    font-size: 20px;
    margin: 20px;
}

.partnership-info .achievements{
    width: 100%;
    font-size: 20px;
    margin: 20px;
}

.partnership-info .role{
    width: 100%;
    font-size: 20px;
    margin: 20px;
}

/* Responsive Design */
/* xs */
@media (max-width: 475px){
    .partnership-container .heading h1{
        font-size: 30px;
    }

    .partnership-container .heading img{
        height: 200px;
    }

    .partnership-container .partnership{
        width: 90%;
        font-size: 12px;
    }

    .partnership-info{
        flex-direction: column
    }
    
    .partnership-info .line {
        font-size: 40px;
        line-height: 55px;  
    }
    
    .partnership-info .highlight {
        font-size: 50px;
    }
    
    .partnership-info .commitment{
        width: 90%;
        font-size: 15px;
    }
    
    .partnership-info .achievements{
        width: 90%;
        font-size: 15px;
    }
    
    .partnership-info .role{
        width: 90%;
        font-size: 15px;
    }
}

/* sm */
@media (max-width: 640px){
    .partnership-container .heading h1{
        font-size: 50px;
    }

    .partnership-container .heading img{
        height: 200px;
    }

    .partnership-container .partnership{
        width: 90%;
        font-size: 15px;
    }

    .partnership-info{
        flex-direction: column;
        align-items: start;
    }
    
    .partnership-info .line {
        font-size: 40px;
        line-height: 55px;  
    }
    
    .partnership-info .highlight {
        font-size: 50px;
    }
    
    .partnership-info .commitment{
        width: 90%;
        font-size: 15px;
    }
    
    .partnership-info .achievements{
        width: 90%;
        font-size: 15px;
    }
    
    .partnership-info .role{
        width: 90%;
        font-size: 15px;
    }
}

/* md */
@media (max-width: 768px){
    .partnership-container .partnership{
        font-size: 18px;
        width: 90%;
    }

    .partnership-container .partnership{
        width: 90%;
        font-size: 18px;
    }

    .partnership-info{
        flex-direction: column;
        align-items: start;
    }
    
    .partnership-info .line {
        font-size: 40px;
        line-height: 55px;  
    }
    
    .partnership-info .highlight {
        font-size: 50px;
    }
    
    .partnership-info .commitment{
        width: 90%;
        font-size: 18px;
    }
    
    .partnership-info .achievements{
        width: 90%;
        font-size: 18px;
    }
    
    .partnership-info .role{
        width: 90%;
        font-size: 18px;
    }
}

/* lg */
@media (max-width: 1024px){

}

/* xl */
@media (max-width: 1280px){

}

/* 2xl */
@media (max-width: 1536px){

}
