.info {
    display: flex;  
    align-items: center;
    margin: 10px;
    width: 100%;
}

.line {
    border-left: 4px solid red;
    padding-left: 10px;
    color: red;
    font-size: 60px;
    line-height: 55px;
    
}

.highlight {
    font-weight: bold;
    color: red;
    font-size: 70px;
}

.info {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.info .heading h1{
    color: red;
    font-weight: bold;
    font-size: 60px
}



.value{
    border: 4px solid red;
    border-radius: 20px;
    display: flex;
    width: 90%;
    margin: 20px;
    transition: transform 0.5s ease-in-out;
}

.value:hover{
    transform: scale(1.05);
}

.value img{
    height: 250px;
    width: 250px;
}

.value p{
    display: flex;
    align-items: center;
    font-size: 20px;
}

/* Responsive Design */
/* xs */
@media (max-width: 475px){
    .info .heading .heart{
        height: 200px;
        width: 400px;
        margin-top: 0px;
    }

    .value p{
        font-size: 12px;
    }
}

/* sm */
@media (max-width: 640px){
    .info .heading .heart{
        height: 200px;
        width: 500px;
        margin-top: 0px;
    }

    .value p{
        font-size: 15px;
    }
}

/* md */
@media (max-width: 768px){
    .info .heading .heart{
        height: 250px;
        width: 600px;
        margin-top: 0px;
    }

    .value p{
        font-size: 15px;
    }
}

/* lg */
@media (max-width: 1024px){
    .info .heading .heart{
        height: 300px;
        width: 700px;
        margin-top: 0px;
    }
}

/* xl */
@media (max-width: 1280px){
    .info .heading .heart{
        height: 350px;
        width: 900px;
        margin-top: 0px;
    }
}

/* 2xl */
@media (max-width: 1536px){

}
